$blue: #3273DC;
$coral: #ff6d6d;
$milk: #f6f5f3;
$darkPurple: #323969;
$black: hsl(0, 0%, 4%);
$white: hsl(0, 0%, 100%);
$light: hsl(0, 0%, 96%);
//$dark: hsl(0, 0%, 21%);
$dark: #282828;

$primary: $coral;
$dark-bg: $darkPurple;
$link: $blue;

$colorList: (black: $black, white: $white, light: $light, dark: $dark, primary: $primary, link: $link);

$fontColors: (black: $black, white: $white, light: $light, dark: $dark, primary: $primary, link: $link);

$gutter: 15px;

$hairline-weight: 100;
$thin-weight:     200;
$light-weight:    300;
$normal-weight:   400;
$medium-weight:   500;
$semibold-weight: 600;
$bold-weight:     700;
$xbold-weight:    800;
$black-weight:    900;

$break-small: 320px;
$break-medium: 768px;
$break-large: 1024px;
