@import "base";
@import "variables";

body {
  font-family: 'Exo', sans-serif;
  font-weight: $normal-weight;
}

.h2-like {
  margin-top: 0;
  color: $dark;
  font-size: 2.5em;
  font-weight: $medium-weight;

  .outline {
    color: $primary;
    letter-spacing: 0.05em;
  }
}

.container {
  margin: auto;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
}

.section-text {
  opacity: 0.66;
  color: $dark;
  font-weight: $medium-weight;
  line-height: 1.6em;
  letter-spacing: 0.04em;
}

.before-heading {
  margin: 0;
  color: $primary;
  font-size: 1em;
  font-weight: $medium-weight;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.clickable:hover {
  filter: brightness(50%);
  cursor: pointer;
}

.button-primary {
  background-color: $primary;
  border: none;
  color: white;
  text-align: center;
  font-size: 1em;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: flex;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(14, 15, 15, 0.25);
  &:hover {
    background-color: #EC6262;
    box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
  }
}

.header {
  height: 100vh;
  background-image: url(img/mountains.png);
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Exo", serif;

  .h1-like {
    font-weight: $light-weight;
    font-size: 4em;
    max-width: 800px;
    text-align: center;
    @media screen and (max-width: $break-medium) {
      font-size: 3em;
    }
  }

  .play {
    opacity: 0.7;
    font-size: 4rem;
    color: $dark-bg;
    margin-bottom: 0.5em;
  }

  .button-primary {
    width: 195px;
    min-height: 50px;
  }

  .text {
    color: $dark;
    font-size: 14px;
    letter-spacing: 0.56px;
  }
}

.right-triangle-section {
  display: flex;
  flex-direction: row;
  .box1 {
    padding: 150px;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60vw;
    @media screen and (max-width: $break-large) {
      padding: 2*$gutter;
    }
  }

  .box2 {
    z-index: -2;
    width: auto;
    background-color: #f6f5f3;
    border-bottom: 600px solid #ff6d6d;
    border-left: 600px solid transparent;
    opacity: 0.8;
    bottom: 0;
    right: 0;

    @media screen and (max-width: $break-medium) {
      display: none;
    }
  }
}

.multiple-images-section {
  background-color: #f6f5f3;
  .content {
    margin: auto;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    padding: 120px 0;
    background: url('img/Pen_holder.png') left top no-repeat,
    url('img/Earphones.png') 90% 0 no-repeat,
    url('img/Coffee_Cup.png') right bottom no-repeat;

    @media screen and (max-width: $break-medium) {
      background: none;
    }

    header {
      text-align: center;
    }

    .row {
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: $break-large) {
        flex-wrap: wrap;
      }
    }

    .col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      text-align: center;

      p {
        font-size: 16px;
        font-weight: $medium-weight;
        line-height: 26px;
        letter-spacing: 0.64px;
        opacity: 0.66;
      }
      h4 {
        margin-bottom: 0;
        font-size: 22px;
        font-weight: $medium-weight;
        line-height: 49.97px;
        letter-spacing: 0.88px;
      }
    }
  }
}

.left-triangle-section {
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    border-bottom: 600px solid #ff6d6d;
    border-right: 600px solid transparent;
    opacity: 0.8;
    z-index: -2;
    //top: -60px;
    bottom: 0;
    @media screen and (max-width: $break-large) {
      display: none;
    }
  }
  .sec-container {
    display: flex;
    padding: 60px;
    @media screen and (max-width: $break-large) {
      padding: 0;
    }
    .imageContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media screen and (max-width: $break-large) {
        display: none;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 40%;
      @media screen and (max-width: $break-large) {
        max-width: unset;
        padding: 2*$gutter;
      }
    }
  }
}

.dark-section {
  padding: 60px 0;
  background: black url('img/Group_4.png') center;
  p {
    opacity: 0.66;
    color: #ffffff;
  }

  p.outlined {
    opacity: 1;
    color: #ff6d6d;
    margin-top: 0;
  }

  h3 {
    color: #ffffff;
    opacity: 1;
    margin-bottom: 0;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (max-width: $break-large) {
      flex-direction: column;
    }

    .col {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 3rem;
      text-align: center;

      line-height: 26px;
      letter-spacing: 0.64px;
    }
  }

  .partners {
    padding-top: 60px;
    filter: invert(60%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    img {
      margin: 10px 30px;
    }
  }
}

.browser-section {
  padding-top: 60px;
  background-color: #f6f5f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  header {
    text-align: center;
  }
  p.content {
    text-align: center;
    width: 55%;
    opacity: 0.66;
    color: #282828;
    font-size: 16px;
    font-weight: $medium-weight;
    line-height: 26px;
    letter-spacing: 0.64px;
    margin: auto auto 60px;

    @media screen and (max-width: $break-medium) {
      width: 90%;
    }
  }
  img {
    max-width: 90%;
  }
}

.form-section {
  padding: 60px 0;
  background-color: #323969;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  > p {
    max-width: 85%;
  }

  h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: $medium-weight;
    line-height: 49.97px;
    letter-spacing: 1.6px;
  }
  form {
    display: flex;
    min-width: 85%;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 30px;
    @media screen and (max-width: $break-large) {
      align-items: center;
      flex-direction: column;
    }
  }
  input {
    flex: 1;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,0.5);
    background-color: rgba(246,245,243,0.1);
    height: 3em;
    margin: 0 10px;
    padding: 0 30px;

    color: white;
    font-size: 16px;
    font-weight: $normal-weight;
    line-height: 75px;
    letter-spacing: 0.64px;

    &::placeholder {
      text-transform: uppercase;
      color: #f6f5f3;
      opacity: 0.5;
    }

    @media screen and (max-width: $break-large) {
      flex: none;
    }
  }

  .button-with-hint {
    flex: 1;
    display: flex;
    flex-direction: column;
    .hint {
      padding: 0 30px;
      position: relative;
      color: white;
      margin-bottom: 60px;
      &:after {
        content: url('img/ARROW.png');
        position: absolute;
        left: 0;
        top: 0;
      }
      @media screen and (max-width: $break-large) {
        margin-bottom: 30px;
      }
    }
    button {
      margin: 0 10px;
      box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
      border-radius: 3px;
      border: 1px solid #ff6d6d;
      background-color: #ff6d6d;

      color: white;
      padding: 0 53px;
      height: 3em;
      text-align: center;
      font-size: 16px;
      text-transform: uppercase;
      font-family: "Exo", serif;
      letter-spacing: 3.2px;
      word-break: keep-all;
    }
  }
}

p.terms {
  opacity: 0.6;
  color: #f6f5f3;
  font-size: 16px;
  font-weight: $normal-weight;
  letter-spacing: 0.64px;
  a {
    text-decoration: underline;
    color: #f6f5f3;
    &:hover {
      color: #209cee;
    }
  }
}

footer {
  height: 400px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 8%;
  @media screen and (max-width: $break-large) {
    margin: 3% 0;
    height: auto;
  }
  &:before {
    content: "";
    position: absolute;
    border-top: 500px solid #ff6d6d;
    border-left: 500px solid transparent;
    opacity: 0.8;
    z-index: -2;
    top: -60px;
    right: 0;
    @media screen and (max-width: $break-large) {
      display: none;
    }
  }

  .logo{
    color: #282828;
    font-size: 22px;
    font-weight: $medium-weight;
    line-height: 49.97px;
    letter-spacing: 0.88px;
    margin-bottom: 0;
    margin-top: 0;

    .white{
      color: white;
      position: relative;
      &:after {
        content: url('img/Polygon1.png');
        position: absolute;
        z-index: -2;
        top: -25%;
        left: -10%;
      }
    }
  }

  .content {
    width: 75%;
    @media screen and (max-width: $break-large) {
      width: 100%;
    }

    .row {
      display: flex;
      flex-wrap: wrap;

      .col {
        flex: 2;
        padding: 0 15px;
      }
      .col-large {
        flex: 3;
        padding: 0 15px;
      }

      @media screen and (max-width: $break-medium) {
       flex-direction: column;
      }
    }
  }
  ul {
    margin-top: 0;
    list-style-type: none;
    padding: 0;
  }

  li {
    color: #282828;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.56px;
    text-decoration: none;
  }
  a {
    color: #282828;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.56px;
    text-decoration: none;
    &:hover {
      color: #ff6d6d;
    }
  }
  form {
    display: flex;
    max-width: 90%;
  }

  button {
    display: flex;
    cursor: pointer;
    border: none;
    background-color: #ff6d6d;
    border-radius: 0 3px 3px 3px;
    padding: 0 13px;
    margin-left: -3px;
    box-shadow: 0 1px 1px rgba(14, 15, 15, 0.25);
    &:hover {
      background-color: #EC6262;
      box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
    }

    i{
      color: white;
    }
  }

  input {
    margin-right: 0;
    border-radius: 3px;
    border: 1px solid #8d8d8d;
    border-right: none;
    height: 3em;
    padding: 0 30px;
    max-width: 90%;
    background-color: #fdfdfd;

    font-size: 16px;
    line-height: 75px;
    letter-spacing: 0.64px;

    &::placeholder {
      text-transform: uppercase;
      color: #000;
      opacity: 0.4;
    }
  }
}
